[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
pyro-ppl = {git = "https://github.com/pyro-ppl/pyro.git"}
tqdm = "*"
seaborn = "*"
scikit-learn = "*"
nevergrad = "*"
captum = "*"
h5py = "*"
prettytable = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
pyyaml = "*"
dash = "*"
plotly = "*"
xlrd = "*"
openpyxl = "*"
9 = "*"
ray = "*"
xlsxwriter = "*"
finta = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
